﻿@font-face {
  font-family: 'wyekan';
  /*تعریف یک نام برای فونت*/
  src: url('../../font/wyekan/wyekan.eot');
  /*اکسپلورر 9 به بعد*/
  src: local('W_yekan'), /*بررسی نصب بودن فونت در سیستم کاربر*/ local('W_yekan'), /*برای برخی از مرورگرها مانند سافاری*/
  url('../../font/wyekan/wyekan.eot?#iefix') format('embedded-opentype'), /*هک برای اکسپلورر 8 و ماقبل*/
  url('../../font/wyekan/wyekan.woff') format('woff'), /*مرورگر های جدید*/
  url('../../font/wyekan/wyekan.ttf') format('truetype'), /*تمام مرورگرها به جزء اکسپلورر*/
  url('../../font/wyekan/wyekan.svg#wyekan') format('svg');
  /*نسخه های قدیمی سیستم عامل iOS*/
  font-style: normal;
  font-weight: normal;
}
*{
  padding: 0;
  margin:0;

}
body{
  font-family: 'wyekan' !important;

}
.logobar{
  background: white;
  padding:20px 0px;
}
.tell{
  line-height: 4;
  font-size: 18px;
  font-weight: bold;
  color:#444;
}
.tell b{
  color: #acabab;
}
.head{
  background-color: #ededed !important;
  border-radius: 0 !important;
  border: none;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.navbar-inverse .navbar-nav > li > a{
  color: #444 !important;
}
.navbar-inverse .navbar-nav > li:hover{
  background-color: white;
}
.navbar-inverse .navbar-nav > li:hover  a{
  color: #ed2024 !important;
}
 .active{
  background-color: white !important;
}
.navbar-inverse .navbar-nav > li.active  a{
  color: #ed2024 !important;
  background-color: white !important;
}
.icon{
  height: 42px;
  width:41px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}
.facebook{
  background-image: url("../../image/front/site/facebook.png");
}
.telegram{
   background-image: url("../../image/front/site/telegram.png");
 }
.insta{
   background-image: url("../../image/front/site/insta.png");
 }
.content{
  clear: both;
}
.carousel-inner {
 padding: 0 !important;
  margin: 0px !important;
  overflow: hidden;
}
.carousel-inner > .item{
  height: 550px;
  overflow: hidden;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  height:100%;
  width:100%;
  object-fit: cover;
}
.carousel-indicators{
  float: left !important;
  right: inherit;
  left: 0 !important;
  width:30%;
  margin-left: 0;
  padding-left: 0;
  bottom: 0px;

}
.row{
  margin: 0 !important;
}
.carousel-indicators li{
  border:2px solid white;
}
.carousel-indicators .active{
  background-color: unset !important;
  border-color: red;
}
.carousel-caption{
  width:100%;
  padding: 0px 100px;
  text-align: right;
  background-color: #dedede;
  color:#2d2d2d;
  right:0px;
  bottom: 0px;
}
.services{
 margin: 40px 0px;
  padding: 30px;
  text-align: center;
  background-color: #efefef;
  box-shadow: 1px 1px 2px 1px #aaa;
}
.section-title{
  border-bottom: 1px solid #c8c8c8;

}
.section-title h3{
  width:120px;
  text-align: center;
  border-bottom: 3px solid red;
 position: relative;
  top: 10px;

}
.big-item{
  min-height: 450px;
}
.big-item h2{
  color: #222 !important;
  position: relative !important;
  padding:0px !important;
}
.services .services-item .item:hover{
  box-shadow: 1px 1px 10px 2px #888;
}
.services .services-item .item{
  width:90%;
  margin: 0px auto;
  height:160px;
  overflow: hidden;
  border:1px solid #dedede;
  text-align: center;
  padding:0px 0px;
  position: relative;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #ddd;
}
.post-thumb-overlay {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, .2)), color-stop(100%, rgba(0, 0, 0, .75)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .75) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .75) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .75) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .75) 100%);
  pointer-events: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.item h2{
  color:#fff;
  position: absolute;
  bottom: 10px;
  z-index: 5;
  padding:15px;
  text-align: center;
}
.min-desc{
  color:#999a9b;
  height: 40px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  text-align: justify;
  display: -webkit-box;
  max-width: 90%;

  margin: 0 auto;
  font-size:15px;
  line-height: 1.3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;


}
.big-item a{
  text-decoration: none;
}
.btn-more{
  background-color: #f26a6c;
  color:white;
  padding:10px 30px;
}
.line{
  clear: both;
  width:90%;
  margin: 10px auto;

  background-color: #c5c5c5;
  height: 2px;
}
.about h1{
  color:#2e2e2e;
  text-align: center;
  padding: 10px;
}
.about p{
  color: #999a9b;
  text-align: justify;
}

.product .btn-more{
  margin-top: 40px;
}
.tik{
  width: 46px;
  height:44px;
  background-image: url('../../image/front/site/item.png');
  display: inline-block;
  margin-top: 10px;
  padding: 2px;
  margin-left: 5px;
  position: relative;
  top:12px;
  transition: 0.5s;
}
.news-item-descrip .item h2{
  color: #4d4d4d !important;
  position: relative!important;
}

.news-item-descrip .item{
  width: 100%;
  position: relative;
  min-height: 250px;
  padding:20px;
}
.news-item-descrip .item h2{
  display: inline-block;
}
.news-item-descrip .item p{
  margin-right: 50px;
  font-size: 15px;
}
.news-item-descrip .item a{
  margin-right: 50px;
  line-height: 2;
  color: #f26a6c;
}
.icon-arrow{
  color: #000;
  position: relative;
  top:3px;
  right:5px;
}
.news-item-descrip:hover .tik{
  transform: rotate(360deg);
}
ul.footer-menu{
  list-style: none;
  width:100%;
  text-align: center;
  margin: 5px auto;

}
.footer-menu li{
  display: inline-block;
  margin-right: 25px;
}
.footer-menu li a{
  color: #000;
}
.social{
  text-align: center;
  width:60%;
  margin: 5px auto;
  display: block;
}
.social .icon{
  float: none !important;
}
.footer{
  padding: 10px 0px;
}
.news .section .activity img{
  width:90%;
  margin: 10px auto;
}
.news{
  aborder:1px solid #2c2c2c;
  margin: 20px auto;
  position: relative;
  top:20px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  padding-bottom: 20px;
}
.news .page-title-main{

}
.news .page-title-main h1{
  color: #f26a6c;
  border-bottom: 1px solid #c5c5c5;
  padding:10px;
}
.news .section .activity p{
  color: #ccc;
}
.gallery-items:hover{
  box-shadow: 1px 1px 10px 2px #d4d4d4;
}
.gallery-items{
  border:1px solid #dfdfde;
  height:220px;
}
.services .services-item{
  clear: both;
min-height: 250px;
  position: relative;


  overflow: hidden;
}

.gallery-items{
  background-color: #fff;
  position: relative;
}
.gallery-items .category-title{
  bottom: 23% !important;
}
.img-section .gallery-items .services-item {
  height:120px !important;
  position: relative;

}
.img-section img.img{
  width:100%;
  margin: 0px auto;
  object-fit: cover;
}
.img-item{
  min-height:170px !important;
  position: relative;
  overflow: hidden;

}
.gallery-items .gallery-title h2{
  text-align: right;
  margin-right: 10px;
  font-size: 20px;
}
a .gallery-items .gallery-title{
  color: #2e2e2e;
}
.category-title{
  position: absolute;
  bottom:2%;
  z-index: 5;
  right:20px;
  background-color: #f26a6c;
  width:40%;
  font-size: 12px;
  border-radius:10px;
margin: 5px;
  padding: 5px 0px;
  opacity: 0.8;
  color: white;
}

.hvr-underline-from-center {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}


.justify{
  text-align: justify !important;
}
.view-img img{
  width:100% !important;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ff2b08;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 15%;
  right: 15%;
}
#myCarousel{
  margin: 20px 0px;
}
