/* Stylesheets import */
@import url("font-awesome.css");
@import url("animations.css");
/*  CSS definations for Real Spaces  */

/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline:none;
}
iframe{
	border:0;
}

/* ==================================================
Basic Styles
================================================== */

@font-face {
	font-family: "web-vazir";
	src: url("../../fonts/vazir-fd-wl.eot"); /* IE */
	src: url("../../fonts/vazir-fd-wl.eot?#iefix") format("embedded-opentype"), /* IE */
		 url("../../fonts/vazir-fd-wl.woff2") format("woff2"), /* Modern Browsers */
		 url("../../fonts/vazir-fd-wl.woff") format("woff"), /* Modern Browsers */
		 url("../../fonts/vazir-fd-wl.ttf") format("truetype"); /* Safari, Android, iOS */
	font-weight: normal;
}

@font-face {
	font-family: "web-vazir";
	src: url("../../fonts/vazir-bold-fd-wl.eot"); /* IE */
	src: url("../../fonts/vazir-bold-fd-wl.eot?#iefix") format("embedded-opentype"), /* IE */
		 url("../../fonts/vazir-bold-fd-wl.woff2") format("woff2"), /* Modern Browsers */
		 url("../../fonts/vazir-bold-fd-wl.woff") format("woff"), /* Modern Browsers */
		 url("../../fonts/vazir-bold-fd-wl.ttf") format("truetype"); /* Safari, Android, iOS */
	font-weight: bold;
}

.ltr_text {
	display: inline-block;
	direction: ltr;
}

html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
a{
	color:#5e5e5e;
	cursor: pointer;
	-webkit-transition: color 0.1s linear 0s;	
	-moz-transition: color 0.1s linear 0s;
	-o-transition: color 0.1s linear 0s;
	transition: color 0.1s linear 0s;
}
a:hover,
a:active,
a:focus{
	outline: 0;
	color:#000;
	text-decoration: none;
}
a img {
	border: none;
}
a > img {
	vertical-align: middle;	
}
.gray-bg{
	background:#bababa;
}
.gray-text{
	color:#bababa;
}
.lgray-bg{
	background:#f8f8f8;
}
.dgray-bg{
	background:#333333;
}
img {
	max-width: 100%;	
}
img, object, embed, audio, video {
	max-width: 100%;
}
img {
	height: auto;
}
strong, .strong {
	font-weight: 700;
}
p {
	margin: 0 0 20px;
}
i, em, .italic{
	font-style:italic;
}
.uppercase{
	text-transform:uppercase;
}
.align-left{
	float:right;
	margin:0 0px 0 25px!important;
}
.align-right{
	float:left;
	margin:0 25px 0 0!important;
}
.text-align-left {
	text-align: right;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: left;	
}
.color-text {
	color: #ffffff;
}
.through{
	text-decoration:line-through;
}
.border-radius{
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
.fa{
	vertical-align: middle;
}

/* ==================================================
Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px 0;
	color:#333333;
	font-weight:400;
	line-height:1.75em;
}
h1{
	font-size:34px;
}
h2{
	font-size:28px;
}
h3{
	font-size:22px;
}
h4{
	font-size:15px;
}
h5{
	font-size:15px;
	font-weight:700;
}
h6{
	font-size:11px;
}
h1.short, h2.short, h3.short, h4.short, h5.short, h6.short, p.short{
	margin-bottom:5px;
}
h1.spaced, h2.spaced, h3.spaced, h4.spaced, h5.spaced, h6.spaced {
	margin-top: 22px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:#333333;
	text-decoration:none;
}
.huge{
	font-size:10em;
}
blockquote{
	margin:30px 0;
	padding:0 30px 0 0;
	border-right:3px solid;
}
blockquote p{
	margin-bottom:0;
	white-space:normal;
	font-size:20px;
	line-height: 1.75;
}
blockquote cite{
	color:#ffffff;
}
blockquote cite:before{
	content:"- ";
}
p{
	font-size:13px;
	line-height:26px;
	margin:0 0 15px 0;
	text-align: justify;
}
p.md{
	font-size:16px;
	line-height:32px;
}
p.lg{
	font-size:30px;
	line-height:2em;
}
.big{
	font-size:200%;
	line-height:1.75em;
}
.thin{
	font-weight:300;
}
p.drop-caps:first-child:first-letter {
	float: right;
	margin-top: 5px;
	margin-left: 5px;
	padding: 2px 4px 6px 4px;
	font-size: 60px;
	line-height: 60px;
}
p.drop-caps.secondary:first-child:first-letter {
	margin-left: 10px;
	padding: 2px 12px 10px 12px;
	border-radius: 4px;
	color: rgb(255, 255, 255);
}
hr{
	display:block;
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	height:1px;
	border:0;
	background:#eee;
}
hr.fw{
	display:block;
	clear:both;
	margin-top:0;
	margin-bottom:50px;
	width:100%;
	height:1px;
	border:0;
	background:#eee;
}
hr.sm{
	display:inline-block;
	margin:15px 0;
	width:40px;
	height:2px;
	border:0;
	background:#eee;
}
ul.checks, ul.angles, ul.carets, ul.chevrons{
	margin-bottom:15px;
}
ul.checks > li, ul.angles > li, ul.carets > li, ul.chevrons > li{
	margin:10px 0;
}
ul.checks > li > i, ul.angles > li > i, ul.carets > li > i, ul.chevrons > li > i{
	margin-left:2px;
}
ul.inline{
	margin:10px 0;
}
ul.inline > li{
	display:inline-block;
	margin-left:10px;
}
ul.inline > li i.fa{
	margin-left:2px;
}
ul.nav-list-primary > li a{
	display:block;
	padding:8px;
	border-bottom:1px solid #efefef;
	color:#666666;
	text-decoration:none;
}
ul.nav-list-primary > li a:hover{
	text-decoration:none;
}
ul.unordered{
	margin:10px 20px 10px 0;
	list-style-type:disc;
}
ol{
	margin:10px 30px 10px 0;
	list-style-type: decimal;
}
ul.unordered ul, ol ul{
	margin:10px 20px 10px 0;
}
ul.unordered ul{
	list-style-type:circle;
}
ol, ul, dl{
	line-height: 2;
}
dl{
	margin:10px 0;
}
dl dt{
	font-weight:700;
}
.list-group-item > .badge{
	margin-top: 4px;
}
address.ico i{
	display:inline-block;
	float: right;
	clear:both;
	padding-top: 3px;
}
address.ico p{
	margin:0;
	padding-bottom:10px;
}
address.ico span{
	display:inline-block;
	padding-right:20px;
}
.cursive{
	text-transform:none;
	font-weight:400;
}
label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}
.form-control{
	margin-bottom:20px;
	font-size: 13px;
	text-align: right;
	min-height: 34px;
}
textarea.form-control{
	resize: vertical;
}
code {
	padding: 2px 4px;
	font-size: 90%;
}
pre {
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	border: 1px solid #cccccc;
}

/* ==================================================
Margin Bottom Sets
================================================== */

.margin-0{
	margin-bottom:0 !important;
}

.margin-10{
	margin-bottom:10px !important;
}

.margin-15{
	margin-bottom:15px !important;
}

.margin-20{
	margin-bottom:20px !important;
}

.margin-30{
	margin-bottom:30px !important;
}

.margin-40{
	margin-bottom:40px !important;
}

.margin-50{
	margin-bottom:50px !important;
}

.margin-60{
	margin-bottom:60px !important;
}

.margin-70{
	margin-bottom:70px !important;
}

.margin-80{
	margin-bottom:80px !important;
}
.push-top{
	margin-top:35px;
}

/* ==================================================
Padding Sets
================================================== */
.padding-b0{
	padding-bottom:0!important;
}
.padding-tb20{
	padding-top:20px;
	padding-bottom:20px;
}
.padding-tb30{
	padding-top:30px;
	padding-bottom:30px;
}
.padding-tb45{
	padding-top:45px;
	padding-bottom:45px;
}
.padding-tb75{
	padding-top:75px;
	padding-bottom:75px;
}
.padding-tb100{
	padding-top:100px;
	padding-bottom:100px;
}
.padding-tb125{
	padding-top:125px;
	padding-bottom:125px;
}
.padding-as25{
	padding:25px;
}
/* ==================================================
Spacers
================================================== */
.spacer-20{
	height:30px;
	clear:both;
	width:100%;
}
.spacer-30{
	height:30px;
	clear:both;
	width:100%;
}
.spacer-40{
	height:40px;
	clear:both;
	width:100%;
}
.spacer-50{
	height:50px;
	clear:both;
	width:100%;
}
.spacer-75{
	height:75px;
	clear:both;
	width:100%;
}
.spacer-100{
	height:100px;
	clear:both;
	width:100%;
}

/* ----------------------------------------------------------------------------------------- */
/* Multi purpose classes */
/* ----------------------------------------------------------------------------------------- */
.overlay-transparent{
	background:rgba(0,0,0,.6);
}
.btn{
	border-width: 0;
	text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	text-decoration:none;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font-size: 13px;
}
.btn-default{
	border-width:1px;
	box-shadow:none;
	text-shadow:none;
}
.btn:hover, .btn:active, .btn:focus{
	opacity:.9
}
.btn-xs {
	font-size: 11px;
}
.btn-sm {
	font-size: 11px;
}
.social-icons a{
	margin:0 8px;
	text-decoration:none;
}
.next-prev-nav{
	display:inline-block;
}
.next-prev-nav a{
	display:inline-block;
	width:20px;
	height:20px;
	color:#fff;
	text-align:center;
	line-height:20px;
	text-decoration:none;
}
.next-prev-nav a:hover{
	color:#fff;
}
.meta-data{
	display:block;
	margin-bottom:10px;
	font-size:12px;
	color:#999999;
	padding:0!important;
	border-bottom-width:3px!important;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.meta-data a{
	color:#666666;
}
.meta-data a i{
	color:#999999;
}
.meta-data a:hover{
	text-decoration:none;
}
.meta-data > span{
	display:inline-block;
	padding:10px 20px;
	border-left:1px solid #efefef;
}
.meta-data i{
	margin-left:4px;
}
.meta-data > span:last-child{
	border-left:0;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
.media-box{
	position:relative;
	display:block;
	max-width:100%;
}
.media-box .zoom, .media-box .expand{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	color:#ffffff!important;
	font-size:1.5em;
	z-index:999;
	right:0;
	top:0;
	margin:0;
	background-color:rgba(0,0,0,.5);
	opacity:0;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.img-thumbnail img:hover, .img-thumbnail:hover{
	opacity:.9
}
.media-box:hover .zoom, .media-box:hover .expand{
	opacity:1;
	-webkit-transition: opacity .3s .2s;
	-moz-transition: opacity .3s .2s;
	-ms-transition: opacity .3s .2s;
	-o-transition: opacity .3s .2s;
	transition: opacity .3s .2s;
}
.selectpicker{
	font-weight:400;
	padding-top:5px;
	padding-bottom:5px;
	height: 100%;
}
.input-lg{
	height: 43px;
}
.input-lg .selectpicker{
	padding-top:10px;
	padding-bottom:10px;
}
.bootstrap-select.form-control{
	margin-bottom:20px!important;
}
.bootstrap-select.margin-0{
	margin-bottom:0px!important;
}
.bootstrap-select.btn-group div.dropdown-menu{
	margin-top: -1px;
	margin-bottom: -1px;
}
.bootstrap-select.btn-group.input-lg div.dropdown-menu{
	margin-top: -11px;
	margin-bottom: -1px;
}

/*-------------------------------------------------------------------------------------------*/
/* SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/
body{
	background-color:#ffffff;
	color:#666666;
	font-size:13px;
	font-weight:400;
	font-family: 'web-vazir', 'segoe ui', tahoma;
	line-height:20px;
	background-attachment:fixed;
	direction: rtl;
}
.body{
	overflow: hidden;
}
body.boxed .body{
	position:relative;
	margin:25px auto;
	max-width:1080px;
	width:100%;
	height:auto;
	background-color:#ffffff;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 0 2px rgba(0,0,0,.2);
	box-shadow:0 0 2px rgba(0,0,0,.2);
}
@media (min-width: 1200px) {
	body.boxed .body .site-header, body.boxed .body .main-menu-wrapper{
		max-width:100%;
		width:1080px;
	}
}
.site-header{
	width:100%;
}
.top-header{
	height:30px;
}
.middle-header{
	height:85px;
	position:relative;
	z-index:8;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.1);
	box-shadow:0 1px 2px rgba(0,0,0,.1);
	padding:5px 0;
}
.site-header h1.logo{
	position:relative;
	z-index:1300;
	display: table;
	margin:0;
	height:65px;
	vertical-align: middle;
	line-height: 0;
}
.logo a{
	display:inline-block;
	vertical-align:middle;
	text-decoration:none;
}
.horiz-nav > li{
	float:right;
}
.horiz-nav > li > a{
	display:inline-block;
	padding:0 20px;
	line-height:28px;
	text-decoration:none;
	border-left:1px solid rgba(0,0,0,.1);
	color: #fff;
}
.horiz-nav > li > a:hover{
	background:rgba(0,0,0,.05)
}
.horiz-nav > li:first-child > a{
	border-right:1px solid rgba(0,0,0,.1);
}
.horiz-nav a{
	text-decoration:none;
}
.boxed .horiz-nav.pull-left li:first-child a{
	border-right:0;
}
.boxed .horiz-nav.pull-right li:last-child a{
	border-left:0;
}
.contact-info-blocks{
	text-align:left;
}
.contact-info-blocks > div{
	display:inline-block;
	margin:20px 0 0 0;
	padding:0 20px;
	border-left:1px solid #efefef;
	color:#999;
	text-align:right;
}
.contact-info-blocks > div:last-child{
	border-left:0;
	padding-left:0;
}
.contact-info-blocks > div > span{
	display:block;
	font-size:14px;
	color:#666;
	line-height: 26px;
}
.site-header .menu-toggle{
	font-size:18px;
	margin:30px 0 0 10px;
	float:left;
}
.site-header .menu-toggle:focus{
	outline:0;
}
.main-menu-wrapper{
	display:block;
	position:relative;
	background:#fff;
	z-index:6;
	width:100%;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.1);
	box-shadow:0 1px 2px rgba(0,0,0,.1);
	background:#f8f8f8;
}
.navigation{
	height:50px;
	text-align:center;
}
.navigation > ul > li{
	float:right;
	font-size:14px;
	position:relative;
}
.navigation > ul > li i{
	font-size:11px;
	margin-right:5px;
}
.navigation > ul > li > a{
	padding:11px 22px;
	display:block;
	text-decoration:none;
	border-left:1px solid rgba(0,0,0,.05);
}
.navigation > ul > li:first-child > a{
	border-right:1px solid rgba(0,0,0,.05);
}
.navigation ul > li:hover > a, .navigation ul > li.current_menu_item > a{
	border-top-width:3px;
	border-top-style:solid;
	padding-top:8px;
	background:#fff;
}
.navigation > ul > li ul{
	position:absolute;
	top:100%;
	right:0;
	z-index:999;
	display:none;
	min-width:100%;
	height:auto;
	background:#fff;
	text-align:right;
	box-shadow:0 2px 2px rgba(0,0,0,.3);
}
.navigation > ul > li > ul > li > ul > li:hover > ul a{
	background:#fff;
	border-bottom:1px solid #f8f7f3;
}
.navigation > ul > li > ul > li > ul > li > ul > li:hover > a{
	border-top:0!important;
	padding:10px 25px!important;
	color:#fff!important
}
.navigation > ul > li:hover ul{
	display:block;
}
.navigation > ul > li > ul li{
	line-height: normal;
	font-size:14px;
	position:relative;
}
.navigation > ul > li > ul li > a{
	display:block;
	padding:10px 25px;
	border-bottom:1px solid #f8f7f3;
	white-space:nowrap;
	text-decoration:none;
	transition: none;
}
.navigation > ul > li > ul > li:hover > a, .navigation > ul > li > ul > li > ul > li:hover > a{
	text-decoration:none;
	padding:10px 25px;
	color:#ffffff;
	border-top:0;
}
.navigation > ul > li > ul li:last-child a{
	border-bottom:0;
}
.navigation > ul > li > ul li ul{
	right:100%!important;
	top:0;
	min-width: inherit;
	position:absolute;
	box-shadow:0 2px 2px rgba(0,0,0,.3);
}
.boxed .navigation > ul > li:first-child a{
	border-right:0;
}
.boxed .navigation > ul > li:last-child a{
	border-left:0;
}
.sticky-wrapper{
	max-height:50px;
}
.is-sticky .main-menu-wrapper{
	z-index:1000;
	min-height:50px;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,.1);
	box-shadow:0 1px 0 rgba(0,0,0,.1);
}
.is-sticky .navigation{
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
/* Site Showcase */
.site-showcase{
	position:relative;
	z-index:4;
}
/* Hero Slider */
.flexslider {
	margin: 0;
	padding: 0;
	background:url(../images/loader.gif) no-repeat scroll center center;
	direction: ltr;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 
html[xmlns] .slides {
	display: block;
} 
* html .slides {
	height: 1%;
}
.flexslider .slides {
	zoom: 1;
}  
.slider-mask{
	width:100%;
	height:450px;
	position:absolute;
	z-index:5;
	display:block;
	display:none;
}
.hero-slider{
	position:relative;
	top:0;
	right:0;
	z-index:2;
	height:450px;
	width:100%;
	overflow:hidden;
}
.hero-slider .flex-viewport{
	width:100%;
}
.hero-slider.flexslider > ul.slides{
	height:100%;
}
.hero-slider.flexslider ul.slides li{
	height:450px;
	width:100%;
	overflow:hidden;
	position:static;
	background-attachment:scroll!important
}
.flex-caption{
	display:none;
	margin:0 auto;
	margin-top:110px;
	text-align:center;
	width:230px;
	background:#ffffff;
	border-top:3px solid rgba(0,0,0,.8);
	position:absolute;
	left:50%;
	margin-left:-500px;
	position:relative;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.flex-caption strong.title{
	font-size:19px;
	display:block;
	font-weight:normal;
	padding:20px;
	padding-bottom:10px;
	line-height: 36px;
	margin-top: -12px;
}
.flex-caption strong.title em{
	font-size:14px;
	font-weight:400;
	color:#999999;
}
.flex-caption .btn{
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	margin-top:10px;
}
.flex-caption .fa-caret-down{
	color:#ffffff;
	position:absolute;
	right:-9px;
	top:0;
	font-size:30px;
}
.flex-caption .hero-agent-pic{
	border:3px solid #ffffff;
	border-radius:100%;
	width:80px;
	height:80px;
	position:absolute;
	right:-100px;
	top:-30px;
	z-index:2;
	-webkit-box-shadow:inset 0 0 8px rgba(0,0,0,.3), 0 0 3px rgba(0,0,0,.3);
	box-shadow:inset 0 0 8px rgba(0,0,0,.3), 0 0 3px rgba(0,0,0,.3);
}
.flex-caption .hero-agent-contact{
	position:absolute;
	right:-115px;
	top:20px;
	z-index:3;
	background:#f8f8f8;
	border:3px solid #ffffff;
	border-radius:100%;
	width:40px;
	height:40px;
	text-align:center;
	line-height:33px;
	-webkit-box-shadow:inset 0 0 1px rgba(0,0,0,.1), 0 0 3px rgba(0,0,0,.3);
	box-shadow:inset 0 0 1px rgba(0,0,0,.1), 0 0 3px rgba(0,0,0,.3);
}
.flex-caption .hero-agent-contact:hover{
	background:#efefef;
}
.flexslider .flex-control-nav{
	width:100%;
	text-align:center;
	position:absolute;
	z-index:111;
	right:0;
	bottom:10px;
	padding:0;
	margin:0;
}
.hero-slider.flexslider .flex-control-nav{
	bottom:-40px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.hero-slider.flexslider:hover .flex-control-nav{
	bottom:10px;
	-webkit-transition: bottom .3s .2s;
	-moz-transition: bottom .3s .2s;
	-ms-transition: bottom .3s .2s;
	-o-transition: bottom .3s .2s;
	transition: bottom .3s .2s;
}
.flexslider .flex-control-nav li{
	display:inline;
}
.flexslider .flex-control-nav a{
	width:25px;
	height:8px;
	background-color:#ffffff;
	display:inline-block;
	margin:0 6px;
	text-indent:-9999px;
	text-decoration:none;
}
.flexslider .flex-prev, .flexslider .flex-next{
	background:rgba(0,0,0,.6);
	color:#f8f7f3;
	display:block;
	margin-top:-12.5px;
	position:absolute;
	top:50%;
	right:10px;
	font-size:14px;
	line-height:24px;
	width:25px;
	height:25px;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration:none;
	display:none;
	text-align:center;
	border-radius:5px;
}
.flexslider .flex-prev{
	left:10px;
	right:auto;
}
.flexslider .flex-prev:before{
	content: "\f104";
}
.flexslider .flex-next:before{
	content: "\f105";
}
.hero-slider.flexslider .flex-prev, .hero-slider.flexslider .flex-next{
	width:40px;
	height:40px;
	left:-40px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	font-size:20px;
	line-height:40px;
	display:block;
	margin-top:-20px;
}
.flexslider:hover .flex-prev, .flexslider:hover .flex-next{
	display:block;
}
.hero-slider.flexslider .flex-prev{
	right:-40px;
}
.hero-slider.flexslider:hover .flex-prev{
	right:10px;
	-webkit-transition: right .3s .2s;
	-moz-transition: right .3s .2s;
	-ms-transition: right .3s .2s;
	-o-transition: right .3s .2s;
	transition: right .3s .2s;
}
.hero-slider.flexslider:hover .flex-next{
	left:10px;
	-webkit-transition: left .3s .2s;
	-moz-transition: left .3s .2s;
	-ms-transition: left .3s .2s;
	-o-transition: left .3s .2s;
	transition: left .3s .2s;
}
#gmap{
	height:550px;
	overflow:hidden;
	position: relative;
}
#gmap.map-single-page{
	height:200px;
}
#gmap img {
	max-width: none;
}
#gmap p {
	margin-top: 5px;
}
#gmap .map-property {
	padding-bottom: 0px;
	width: 310px;
	margin-top: 18px;
	overflow: hidden;
	font-family: 'web-vazir', 'segoe ui', tahoma;
}
#gmap .property-title {
	margin-left: -23px;
}
#gmap .property-featured-image {
	margin-bottom:10px;
	margin-left:20px;
	margin-top: 5px;
	float:right;
}
.site-search-module{
	position:absolute;
	z-index:8;
	height:190px;
	bottom:-112px;
	right:0;
	width: 100%;
}
.site-search-module-inside{
	padding:15px 15px 0;
	height:175px;
	background:#f8f8f8;
	border-top:3px solid rgba(0,0,0,.8);
	border-radius:15px 15px 0 0
}
.site-search-module-inside .btn{
	padding-top:13px;
	padding-bottom:13px;
}
.site-search-module-inside .btn.selectpicker{
	padding-top:10px;
	padding-bottom:10px;
}
#ads-trigger{
	display:inline-block;
	padding-top:11px;
	padding-bottom:11px;
}
.main{
	position:relative;
	background:#ffffff;
	-webkit-box-shadow:0 -2px 2px rgba(0,0,0,.05);
	-moz-box-shadow:0 -2px 2px rgba(0,0,0,.05);
	box-shadow:0 -2px 2px rgba(0,0,0,.05);
}
.home .main{
	z-index:5;
}
.content{
	padding:50px 0;
}
.featured-blocks{
	margin-bottom:10px;
}
.featured-block{
	position:relative;
	text-align:center;
}
.featured-block img{
	width:50%;
	display:inline-block;
	border-radius:100%;
	margin-bottom:20px;
}
.featured-block p{
	padding:0 10%;
	margin-bottom:0;
}
.property-block{
	border:1px solid #eee;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	background:#ffffff;
}
.property-block:hover{
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.property-featured-image, .agent-featured-image{
	display:block;
	position:relative;
}
.property-featured-image img, .agent-featured-image img{
	min-width:100%;
}
.overlay{
	width:100%;
	height:100%;
	line-height:100%;
	position:absolute;
	right:0;
	top:0;
	color:#fff;
	font-size:24px;
	text-align:center;
	display:block;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	opacity:0;
	background:rgba(0,0,0,.4);
	overflow: hidden;
}
.overlay i{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.property-featured-image:hover .overlay, .agent-featured-image:hover .overlay{
	-webkit-transition: opacity .3s .2s;
	-moz-transition: opacity .3s .2s;
	-ms-transition: opacity .3s .2s;
	-o-transition: opacity .3s .2s;
	transition: opacity .3s .2s;
	opacity:1;
}
#featured-properties .overlay{
	line-height:160px!important;
}
.property-featured-image .images-count{
	position:absolute;
	bottom:0;
	left:0;
	z-index:9;
	color:#ffffff;
	background:rgba(0,0,0,.5);
	padding:5px 10px;
}
.property-featured-image .images-count i{
	margin-left:5px;
}
.property-featured-image .badges{
	position:absolute;
	z-index:0;
	right:10px;
	top:10px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	background:#fff;
	font-weight:700;
}
.property-info, .agent-info{
	padding:10px 15px 15px 15px;
	display:block;
	border-bottom:1px solid #efefef;
}
.property-amenities{
	background:#f8f8f8;
}
.property-amenities > span{
	display:block;
	width:25%;
	float:right;
	padding:4px 0 4px 0;
	text-align:center;
	font-size:11px;
	text-transform:uppercase;
	border-left:1px solid #efefef;
}
.property-amenities > span:last-child{
	border-left:none;
}
.property-amenities > span > strong{
	display:block;
	font-size:14px;
}
.property-info h4, .agent-info h4{
	margin-bottom:7px;
}
.property-info .location{
	display:block;
	font-size:100%;
	padding:0 0 14px 0;
}
.price, .counts{
	display:inline-block;
	background:#666;
	color:#fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	height:30px;
}
.price strong, .counts strong{
	background:rgba(0,0,0,.1);
	padding:0 7px;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	line-height:30px;
	height:30px;
	display: inline-block;
	font-weight:400;
	font-size: 12px;
}
.price span, .counts span{
	padding:0 7px;
	line-height:30px;
	height:30px;
	font-weight:700;
}
#latest-properties .property-block{
	margin-bottom:40px;
}
.block-heading-fw{
	background:#fff;
	padding:10px 0;
	-webkit-box-shadow:0 2px 0 rgba(0,0,0,.07);
	box-shadow:0 2px 0 rgba(0,0,0,.07);
}
.block-heading-fw h3{
	margin-bottom:0;
}
.block-heading-fw .btn-sm{
	margin-top:5px;
}
.sort-source a{
	text-decoration:none;
}
.block-heading{
	background:#efefef;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	height:50px;
	margin-bottom:30px;
}
.block-heading h4{
	line-height:50px;
	color:#ffffff;
	display:inline-block;
	padding-left:20px;
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}
.block-heading .heading-icon{
	background:rgba(0,0,0,.1);
	width:50px;
	text-align:center;
	margin-left:20px;
	display:inline-block;
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
	position:relative;
}
.block-heading .heading-icon .icon-design{
	color:rgba(0,0,0,.1);
	font-size:20px;
	position:absolute;
	left:-7px;
	top:16px;
}
.block-heading .btn-sm{
	margin:12px 0 0 12px;
}
.block-heading .btn-sm.btn-default{
	margin:11px 0 0 11px;
}
.bottom-blocks h3{
	margin-bottom:30px;
}
.features-list li .icon{
	font-size:30px;
	line-height:40px;
	float:right;
	width:15%;
}
.features-list li .text{
	float:right;
	width:85%;
}
.features-list li .text h4{
	margin-bottom:5px;
}
.popular-agent .img-thumbnail{
	margin-bottom:15px;
}
.contact-info li{
	margin:5px 0;
	border-bottom:0!important;
	white-space:nowrap;
}
.contact-info li i{
	margin-left:7px;
}
.testimonials > li{
	border-bottom:0!important;
}
.testimonials > li > p{
	border:1px solid #efefef;
	background:#fff;
	padding:25px;
	position:relative;
}
.testimonials > li > p:before, .testimonials > li > p:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
}
.testimonials > li > p:before {
	bottom: -9px;
	left: 31px;
	border-top-color: #efefef;
	border-width: 10px;
}
.testimonials > li > p:after {
	bottom: -8px;
	left: 32px;
	border-top-color: #fff;
	border-width: 9px;
}
.testimonials > li .testimonial-sender{
	float:left;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	width:80px;
	height:80px;
	border:3px solid #fff;
	-webkit-box-shadow:0 0 2px #efefef;
	box-shadow:0 0 2px #efefef;
}
.testimonials > li cite{
	display:block;
	margin-top:40px;
}
.testimonials > li cite a{
	text-decoration:none;
	color:#999;
}
.site-footer{
	background-color:#f8f8f8;
	padding:30px 0 0 0;
	box-shadow:inset 0 2px 2px rgba(0,0,0,.07);
}
.site-footer-bottom{
	background-color:#eee;
	border-top:1px solid #e1e1e1;
	padding:20px 0;
	font-size:12px;
}
.site-footer-bottom p{
	margin-bottom:0;
	font-size:12px;
}
.site-header .social-icons{
	margin-top:30px;
}
.site-footer-bottom .social-icons{
	text-align:left;
}
.site-footer-bottom .social-icons a{
	background:#666;
	color:#fff;
	border-radius:50%;
	width:24px;
	height:24px;
	line-height: 23px;
	text-align:center;
	display:inline-block;
	margin:1px 8px 0 0;
	text-decoration:none;
}

/* Property Listing */
.property-listing > ul > li, .agents-listing > ul > li{
	border:1px solid #eee;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	background:#ffffff;
	margin-bottom:25px;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:5px;
	padding-left:5px;
}
.property-listing > ul > li:hover, .agents-listing > ul > li:hover{
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.property-listing > ul > li:last-child, .agents-listing > ul > li:last-child{
	margin-bottom:0;
}
.property-listing .property-info, .agents-listing .agent-info{
	padding:0 0 10px 0;
	margin-top:-8px;
	border-bottom:0;
}
.property-listing .property-amenities{
	border-bottom:3px solid #efefef;
}
.property-listing .property-amenities strong{
	display:inline-block;
	margin-left:5px;
}
.agent-contacts li{
	display:inline-block;
	margin:5px 0 0 20px;
	border: 0 !important;
}
.property-listing .property-info .price, .agents-listing .agent-info .counts{
	float:left;
	margin-top:5px;
}
.property-listing .property-info p{
	margin-bottom:8px;
}
.property-listing h3{
	margin-bottom:8px;
}
.property-grid > ul > li{
	margin-bottom:25px;
}
.toggle-view{
	margin:15px 0 0 20px;
}
.toggle-view a{
	margin-right:10px;
	color:#999;
	font-size:20px;
}
.toggle-view a.active{
	color:#666;
}
.pagination{
	margin-top:40px;
	margin-bottom:0;
}
.full-search-form{
	padding:15px;
	background:#efefef;
}
.full-search-form label{
	margin-top:0;
	padding-top:0;
	line-height:normal;
}
.page-header{
	margin:0;
	position:relative;
	padding:40px 0;
	border:0;
	background-color:#666;
}
.page-header h1{
	text-transform:uppercase;
	color:#ffffff;
	margin-bottom:0;
	line-height:1em;
}
.page-header p{
	color:#d8d6d1;
	margin:0;
}
.single-property .property-amenities{
	border-bottom:3px solid #efefef;
}
.single-property .property-amenities span{
	font-size:14px;
	width:20%
}
.single-property .property-amenities strong{
	display:inline-block;
	margin-left:5px;
}
.single-property h2.page-title{
	margin-bottom:10px;
}
.location{
	font-size:60%;
	color:#999;
	display: inline-block;
}
.location > i{
	opacity:.7;
}
.single-property .price{
	margin-bottom:22px;
	color:#fff;
}
.single-property .tabs{
	margin-bottom:0;
}
.touch .property-slider .flex-direction-nav{
	display:none;
}
.single-property .agent{
	padding:25px;
	margin-bottom:30px;
	background:#f8f8f8;
}
.property-slider{
	margin:25px 0 35px 0;
}
.property-slider #property-images{
	position:relative;
	text-align:center;
}
.property-slider #property-images img{
	width:100%;
	height:auto;
}
.property-slider #property-thumbs{
	position:relative;
	background:#efefef;
	padding:16px;
}
.property-slider #property-thumbs .flex-prev{
	left:20px;
	margin-top:-10px;
}
.property-slider #property-thumbs .flex-next{
	right:20px;
	margin-top:-10px;
}
.property-slider #property-thumbs img{
	cursor:pointer;
	opacity:.7;
}
.property-slider #property-thumbs .flex-active-slide img{
	opacity:1;
}
.single-agent .contact-details{
	margin:20px 0;
}
.single-agent .counts{
	margin-top:10px;
}
.single-agent h2{
	margin-bottom:30px;
}
.grid-holder{
	width: 105%;
	margin-right: -3%;
	float: right;
}
.grid-holder .grid-item{
	float: right;
}
.grid-item, .gallery-item{
	margin-bottom: 3%;
	border-bottom: medium none;
}
.grid-item-inner{
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	background:#ffffff;
}
.grid-holder .grid-item{
	margin-right: 3%;
}
.grid-holder.col-2 .grid-item{
	width:49%;
}
.grid-holder.col-3 .grid-item{
	width:29.63%;
}
.grid-holder.col-4 .grid-item{
	width:21%;
}
.grid-media{
	position:relative;
}
.grid-content{
	padding:15px 20px 1px 20px;
}
.grid-content .fa-external-link{
	margin-right:10px;
}
.events-grid .grid-item{
}
.grid-item h3{
	line-height:1em;
}
.post-title{
	margin-bottom:0;
	padding-bottom:6px;
}
.post-content{
	padding-top:20px;
}
.post-content p{
	text-align: justify;
}
.post-content .featured-image{
	margin-bottom:20px;
}
.post-content .featured-image img{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.single-post-header{
	margin-bottom:0;
}
.posts-archive .post{
	margin-bottom:40px;
	padding-bottom:25px;
	border-bottom:1px solid #efefef;
}
.posts-archive .post:last-child{
	margin-bottom:0;
}
.format-quote .grid-content p{
	font-size:24px;
	line-height:44px;
}
.single-post-header .btn-toolbar{
	margin-top:8px;
}
.post-comments-count{
	margin-top:15px;
}
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eee;
	right: 50%;
	margin-right: -1.5px;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: 46%;
	float: right;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 20px;
	padding-top:10px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 29px;
	left: -10px;
	display: inline-block;
	border-top: 10px solid transparent;
	border-right: 10px solid #eceae4;
	border-left: 0 solid #eceae4;
	border-bottom: 10px solid transparent;
	content: " ";
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 30px;
	left: -9px;
	display: inline-block;
	border-top: 9px solid transparent;
	border-right: 9px solid #fff;
	border-left: 0 solid #fff;
	border-bottom: 9px solid transparent;
	content: " ";
}
.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	padding-top:10px;
	font-size: 11px;
	line-height:12px;
	text-align: center;
	position: absolute;
	top: 16px;
	right: 50%;
	margin-right: -25px;
	background-color: #eee;
	z-index: 100;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}
.timeline > li > .timeline-badge span{
	font-size:13px;
	display:block;
	line-height:22px;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-right-width: 0;
	border-left-width: 10px;
	right: -10px;
	left: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-right-width: 0;
	border-left-width: 9px;
	right: -9px;
	left: auto;
}
.timeline-title {
	margin-top: 0;
	color: inherit;
}
.timeline-title a{
	text-decoration:none;
}
.timeline-body > p:last-child,
.timeline-body > ul:last-child {
	margin-bottom:0;
}
.timeline-body > p + p {
	margin-top: 5px;
}
.error-404{
	text-align:center;
}
.error-404 h2{
	font-size:80px;
}
.image-placeholder{
	background:#eee;
	height:100px;
	line-height:100px;
	text-align:center;
	font-weight:700;
	margin-bottom:20px;
	direction: ltr;
}

/* Widgets */
.widget{
	margin-bottom:40px;
}
.widget .widgettitle{
	border-bottom:1px solid #efefef;
	margin-bottom:25px;
	padding-bottom:5px;
	text-transform:uppercase;
	font-size:16px;
}
.widget ul > li{
	padding:0 0 12px 0;
	margin-bottom:12px;
	border-bottom:1px solid #efefef;
	line-height: 24px;
}
.widget a{
	text-decoration:none;
}
.widget .meta-data{
	margin-bottom:0;
	margin-top: 5px;
}
.tag-cloud a{
	display:inline-block;
	margin-left:7px;
	margin-bottom:7px;
	padding:2px 8px;
	border:1px solid #eeeeee;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#f8f8f8;
	font-size:12px;
	text-decoration:none;
}
.tag-cloud a:hover{
	text-decoration:none;
}
.widget-recent-posts .post-image{
	width:30%;
	float:right;
	margin-left:5%;
}
.widget-recent-posts .widget-blog-content{
	float:right;
	width:65%;
}
.widget-recent-posts .widget-blog-content > a{
	font-weight:bold;
	display:block;
	margin-top:0;
}
.widget-recent-posts .fa-angle-right{
	display:none;
}
.widget-recent-posts .fa-plus{
	margin-left:0;
}
.widget-recent-posts ul li a{
	padding:12px 0;
	text-decoration:none;
}
.widget-recent-posts ul li:first-child a{
	padding-top:8px;
}
.widget-gallery ul{
	margin-right:-3%;
}
.twitter-widget li:first-child{
	display:none;
}
.widget-gallery ul li{
	float:right;
	width:30%;
	margin-right:3%;
	margin-bottom:20px;
	border-bottom:0;
	padding:0;
}
.widget-gallery ul li i{
	display:none;
}
div.pp_pic_holder{
	direction: ltr;
	overflow: hidden;
}
.featured-properties-widget .property-block{
	padding-bottom:0;
	margin-bottom:20px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:0;
}
.featured-properties-widget .property-block:last-child{
	margin-bottom:0;
}
.featured-properties-widget .property-featured-image{
	width:100%;
}
.featured-properties-widget .property-info{
	width:100%;
	padding:10px 0px;
	border-bottom:0;
}
.widget-agents .badge{
	margin-top:8px;
}
.widget-properties .price{
	margin-top:8px;
}

.additional-amenities > span{
	padding:10px;
	display:inline-block;
	margin:0 0 10px 5px;
	background:#f8f8f8;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.additional-amenities > span.navailable i{
	color:#999;
}
.properties-table{
	overflow: auto;
}
.properties-table th{
	font-weight:700;
}
.table tbody tr td{
	vertical-align:middle;
}
.properties-table .action-button{
	margin-right:20px;
	font-weight:bold;
	text-decoration:none;
}
.properties-table .action-button i{
	font-size:16px;
}

.post-meta{
	background-color:#f8f8f8;
	border-bottom:1px solid #efefef;
	padding:10px 20px;
	font-size:12px;
	margin-bottom: 30px;
}
.post-meta i{
	margin-left:5px;
	font-size:14px;
}
.post-comments{
	margin:30px 0 0 0;
}
.comments{
	margin:0;
	list-style-type:none;
}
.comments li{
	margin-bottom:25px;
}
.comments li .post-comment-block{
	padding:25px;
	padding-bottom:5px;
	border:1px solid #efefef;
	border-bottom-width:2px;
	background:#ffffff;
}
.comments li .post-comment-block p{
	text-align: justify;
}
.comments li.admin > .post-comment-block{
	background-color:#f8f7f3;
}
.comments li .img-thumbnail{
	float:right;
	margin-left:20px;
}
.comments li h5{
	margin-bottom:5px;
}
.comments li ul{
	padding-top:25px;
	padding-right:50px;
}
.post-comment-form{
	margin:30px 0 0 0;
	border-bottom:0;
}
.post-comment-form .form-control{
	margin-bottom:20px;
}
.gallery-filter ul{
	float:left;
}
#message{
	margin-top:10px;
}
#clients-slider li{
	text-align:center;
}
#contact-map{
	padding:0;
}
#back-to-top{
	position:fixed;
	z-index:999;
	left:17px;
	bottom:17px;
	display:none;
	padding:5px 12px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:rgba(0,0,0,.7);
	color:#ffffff;
}

/*-------------------------------------------------------------------------------------------*/
/* SHORTCODE DEFINATIONS */
/*-------------------------------------------------------------------------------------------*/
/* ==================================================
Tabs
================================================== */
.tabs{
	margin-bottom:25px;
}
.nav-tabs{
}
.nav-tabs li{
	position:relative;
	display:block;
	float:right;
	margin-left:1px;
	text-align: center;
}
.nav-tabs li a{
	display:block;
	padding:10px 20px;
	background:#efefef;
	text-decoration:none;
}
.nav-tabs li > i{
	color:#efefef;
}
.nav-tabs li > i{
	position: absolute;
	bottom: -10px;
	font-size: 16px;
	width: 20px;
	right: 50%;
	margin-right: -10px;
}
.nav-tabs li a:hover{
	color:#fff;
	background:#666;
	text-decoration:none;
}
.nav-tabs li a:active, .nav-tabs li.active a{
	color:#fff;
	background:#666;
}
.tab-content{
	padding:20px 0;
	background:#ffffff;
}
.tab-content > .tab-pane{
	display:none;
}
.tab-content > .active{
	display:block;
}
/* ==================================================
Accordion & Toggle
================================================== */
.accordion {
	margin-bottom: 35px;
}

.accordion-group {
	margin-bottom: 8px;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.accordion-heading {
	border-bottom: 0 none;
}

.accordion-heading .accordion-toggle {
	position: relative;
	display: block;
	padding: 15px 15px 15px 52px;
	background:#f8f8f8;
	text-decoration:none;
	font-size: 13px;
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
	line-height: 24px;
}

.accordion-toggle {
	cursor: pointer;
}
.accordion-toggle:hover{
	text-decoration:none;
}
.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive {
	background:#666;
	color:#fff;
}
.accordion-heading .accordion-toggle.active {
	color:#fff;
	background:#666;
}
.accordion-heading .accordion-toggle.inactive {
	background:#f8f8f8;
}
.accordion-heading.accordionize .accordion-toggle i,
.accordion-heading.togglize .accordion-toggle i {
	position: absolute;
	top: 50%;
	left: 20px;
	margin: -8px 0 0 0;
	color: #666;
	font-size: 18px;
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
}
.accordion-heading:hover .accordion-toggle i {
	color: #fff;
}
.accordion-heading.accordionize .accordion-toggle.active i,
.accordion-heading.togglize .accordion-toggle.active i {
	color: #fff;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);	
}

.accordion-heading.togglize .accordion-toggle i {
	margin: -8px 0 0 -2px;
	font-size: 18px;
}
.accordion-heading.togglize .accordion-toggle .fa-plus-circle{
	display:block;
}
.accordion-heading.togglize .accordion-toggle.active .fa-plus-circle{
	display:none;
}
.accordion-heading.togglize .accordion-toggle .fa-minus-circle{
	display:none;
}
.accordion-heading.togglize .accordion-toggle.active .fa-minus-circle{
	display:block;
}
.accordion-inner {
	padding: 16px;
	border: 1px solid #efefef;
	background: #fff;
	line-height: 2;
	text-align: justify;
}

/* ==================================================
Alerts
================================================== */

.alert {
	margin-bottom: 20px;
	padding: 15px 20px 15px 45px;
	border: 1px solid #efefef;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: #f8f8f8;
	text-shadow: none;
}

.alert.no-close {
	padding-left: 20px;
}

.alert .close {
	position: relative;
	top: 0px;
	left: -30px;
	color: #FFFFFF;	
	text-shadow: none;
	line-height: 20px;
	text-decoration:none;
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	-ms-transition: opacity 0.1s linear 0s;
	-o-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

.alert .close:hover {
	text-decoration:none;
	opacity: 1;
}
.alert-standard {
	border-color:#efefef;
	background-color: #f8f8f8;
}
.alert-standard, .alert-standard .close {
	color:#666;
}
.alert-success {
	border-color:#d6e9c6;
	background-color: #dff0d8;
}
.alert-success, .alert-success .close {
	color:#468847;
}
.alert-danger,
.alert-error {
	border-color:#ebccd1;
	background-color: #f2dede;
}
.alert-danger, .alert-danger .close,
.alert-error, .alert-error .close {
	color:#b94a48;
}
.alert-info {
	border-color:#bce8f1;
	background-color: #d9edf7;
}
.alert-info, .alert-info .close {
	color:#3a87ad;
}
.alert-warning {
	border-color:#faebcc;
	background-color: #fcf8e3;
}
.alert-warning, .alert-warning .close {
	color:#c09853;
}

/* ==================================================
Progress bars
================================================== */
@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 100% 0;
	}
}
@-moz-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 100% 0;
	}
}
@-o-keyframes progress-bar-stripes {
	from {
		background-position: 100% 0;
	}
	to {
		background-position: 40px 0;
	}
}
@keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 100% 0;
	}
}
.progress {
	margin-bottom: 15px;
	height: 20px;
	border-radius: 3px;
	background-color: #eaeaea;
	-webkit-box-shadow: none;
	box-shadow: none;
	overflow: visible;
}
.progress-bar {
	float: right;
	width: 0%;
	height: 100%;
	background-color: #eaeaea;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	-webkit-transition: width 0.6s ease;
	transition: width 0.6s ease;
	position: relative;
	border-radius: 3px;
}
.progress-striped .progress-bar {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}
.progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
	background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
	background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
	background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
	background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

span.progress-bar-tooltip {
	position: absolute;
	position: absolute;
	top: -28px;
	left: 5px;
	display: block;
	padding: 4px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #333;
	color: #FFF;
	font-size: 11px;
	line-height: 15px;
	opacity: 0;
	filter: alpha(opacity=0);
	-o-border-radius: 3px;
}
span.progress-bar-tooltip:after {
	position: absolute;
	bottom: -5px;
	right: 13px;
	display: block;
	width: 0;
	border-width: 5px 5px 0;
	border-style: solid;
	border-color: #333 transparent;
	content: "";
}
.progress-label{
	text-transform:uppercase;
}
/* ==================================================
Facts Counters
================================================== */	
.fact-ico{
	display:inline-block;
	width:100px;
	height:100px;
	color:#999999;
	line-height:100px;
	margin:10px 0;
}
.fact{
	display:inline-block;
	color:#999999;
	font-size:15px;
	margin-top:10px;
	font-style:italic
}
.counters .timer{
	display:inline-block;
	color:#333333;
	font-weight:700;
	font-size:38px;
}
.parallax .counters .timer{
	color:#ffffff;
}
/* ==================================================
Modal Box
================================================== */	
.modal-open {
	overflow: hidden;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;
	display: none;
	overflow: auto;
	overflow-y: scroll;
}

.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	transform: translate(0, -25%);
}

.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.modal-dialog {
	position: relative;
	z-index: 1050;
	margin: 10px;
	width: auto;
}

.modal-content {
	position: relative;
	outline: none;
	border: 1px solid #999999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	background-color: #ffffff;
	background-clip: padding-box;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1030;
	background-color: #000000;
}

.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}

.modal-backdrop.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.modal-header {
	padding: 15px;
	min-height: 16.428571429px;
	border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
	margin-top: -2px;
}

.modal-title {
	margin: 0;
	line-height: 1.428571429;
}

.modal-body {
	position: relative;
	padding: 20px;
}

.modal-footer {
	margin-top: 15px;
	padding: 19px 20px 20px;
	border-top: 1px solid #e5e5e5;
	text-align: left;
}

.modal-footer:before,
.modal-footer:after {
	display: table;
	content: " ";
}

.modal-footer:after {
	clear: both;
}

.modal-footer:before,
.modal-footer:after {
	display: table;
	content: " ";
}

.modal-footer:after {
	clear: both;
}

.modal-footer .btn + .btn {
	margin-bottom: 0;
	margin-right: 5px;
}

.modal-footer .btn-group .btn + .btn {
	margin-right: -1px;
}

.modal-footer .btn-block + .btn-block {
	margin-right: 0;
}

@media screen and (min-width: 768px) {
	.modal-dialog {
		margin: 30px auto;
		width: 600px;
	}
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}

/*-------------------------------------------------------------------------------------------*/
/* Parallax
/*-------------------------------------------------------------------------------------------*/
.parallax{
	background-attachment: fixed!important;
	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-color:#eee;
}
.touch .parallax, .page-header.parallax{
	background-attachment:scroll!important;
}
/*-------------------------------------------------------------------------------------------*/
/* Pricing Tables
/*-------------------------------------------------------------------------------------------*/
.pricing-table {
	margin-top: 50px;	
	margin-bottom: 50px;
}
.pricing-table:after { 
	display: block; 
	visibility: hidden; 
	clear: both; 
	height: 0;
	content: "";
}
.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
	border-right: 1px solid #eeeeee!important;
}
.pricing-column {
	float: right;
	overflow: hidden;
	padding: 0px;
	background-color: #fff;
	text-align: center;
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
}
.pricing-column .features{
	padding:0;
	margin-bottom:0;
	background:none;
}
.pricing-column .pricing-column-content {
	padding: 0px 0px 20px 0px;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.pricing-column.highlight {
	position: relative;
	z-index: 1;
	margin: -20px -1px 0px -1px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
	-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
	box-shadow: 0px 0px 13px rgba(0,0,0,.09);
	-o-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
}
.pricing-column.highlight .pricing-column-content, .pricing-column.highlight h3  {
	border: none;
}
.pricing-column.highlight h3 .highlight-reason {
	display: block;
	color: rgba(0,0,0,0.4);
	font-size: 12px;
}
.pricing-column.highlight .pricing-column-content {
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.pricing-column.highlight:hover {
	-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
	box-shadow: 0px 0px 13px rgba(0,0,0,.15);
	-o-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
}
.pricing-column ul li {
	padding: 10px 25px;
	border-bottom: 1px solid #eeeeee;
	color: #666666!important;
	list-style: none;
	line-height: 18px;
}
.pricing-column ul li:first-child {
	border-top: 1px solid #eeeeee;
}
.pricing-column ul li:nth-child(2n+1) {
	background-color: #f8f8f8;
}
.pricing-column.highlight h3 {
	margin-bottom: 0px!important;
	padding: 15px 0px;
	color: #ffffff!important;
}
.toggle .pricing-column h3 {
	font-size: 26px!important;
}
.pricing-column h3 {
	margin-bottom: 0px;
	padding: 18px 0px 18px 0px;
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background-color: #ffffff;
	font-size: 25px;
	line-height: 28px;
}
.pricing-column h4 {
	margin-bottom: 0px;
	padding: 20px 3px 8px 0;
	color: #333333;
	font-size: 52px!important;
	line-height: 42px!important;
}
.pricing-column h4 .dollar-sign {
	position: relative;
	top: -14px;
	left: 6px;
	font-size: 20px;
	line-height: 20px;
}
.pricing-column h4 small {
	color: inherit;
	font-size: 36px;
}
.pricing-column .interval {
	display: block;
	padding-bottom: 15px;
	min-height: 36px;
	color: #999999;
}
.pricing-column ul {
	margin-right: 0px;
}
.pricing-column .btn{
	margin-top:25px;
}
.pricing-column.highlight .btn{
	margin-bottom:20px;
}
.pricing-table.six-cols > div {
	width: 16.5%;
}
.pricing-table.five-cols > div {
	width: 20%;
}
.pricing-table.four-cols > div {
	width: 25%;
}
.pricing-table.three-cols > div {
	width: 33.2%;
}
.pricing-table.two-cols > div {
	width: 50%;
}

/*-------------------------------------------------------------------------------------------*/
/* Responsive Classes
/*-------------------------------------------------------------------------------------------*/
@media (min-width: 992px) {
	.main-menu-wrapper{
		display: block !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	@-moz-document url-prefix() {
		.formBlock.select-s .select {
			background-position: 15% -1px!important;
		}
		.formBlock.select-s .select {
			width:113%!important;
		}
	}
	.navigation > ul > li > a{
		padding:11px 16px;
	}
	.flex-caption{
		margin-left:-460px;
	}
	#featured-properties .overlay{
		line-height:150px!important;
	}
	.grid-content .meta-data > span{
		padding:10px 10px;
	}
}
@media only screen and (max-width: 991px) {
	@-moz-document url-prefix() {
		.formBlock.select-s .select {
			background-position: 10.400000000000006% -1px!important;
		}
		.formBlock.select-m .select {
			background-position: 10.400000000000006% -1px!important;
		}
		.formBlock.select-w .select {
			background-position: 10.400000000000006% -1px!important;
		}
		.formBlock-sm.select-m .select {
			background-position: 11.400000000000006% -7px!important;
		}
	}
	.sticky-wrapper{
		height:auto!important
	}
	.middle-header{
		-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);
		-moz-box-shadow:0 1px 2px rgba(0,0,0,.1);
		box-shadow:0 1px 2px rgba(0,0,0,.1);
	}
	.main-menu-wrapper{
		height:auto;
		position:absolute !important;
		width:100%;
		background:#eee;
		display:none;
		z-index:9999;
	}
	.navigation > ul > li{
		display:block;
		width:100%;
		line-height: normal;
		text-align:right;
	}
	.navigation > ul > li > a{
		padding:15px 25px;
		border-bottom:1px solid #ccc;
		border-left:0;
	}
	.navigation > ul > li:hover > a{
		padding:17px 25px 20px 25px;
	}
	.navigation > ul > li:first-child a{
		border-right:0;
	}
	.navigation > ul > li:last-child a{
		border-bottom:0;
	}
	.navigation > ul > li > ul, .navigation > ul > li > ul li ul{
		position:static;
		height:auto!important;
		border-bottom:1px solid #efefef;
		top:0;
		right:0;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
		margin-right:0;
	}
	.navigation > ul > li > ul:before, .navigation > ul > li > ul li ul:before{
		display:none;
	}
	.flex-caption{
		margin-left:-180px;
		top:-30px;
	}
	.hero-slider{
		height:300px;
	}
	.hero-slider.flexslider ul.slides li{
		height:300px;
	}
	.site-search-module{
		position:relative;
		height:auto;
		bottom:auto !important;
		right:auto;
		margin-top:30px;
	}
	.site-search-module-inside{
		height:auto;
		padding-bottom:1px;
	}
	.site-search-module-inside #ads-trigger{
		display:none;
	}
	.featured-blocks .featured-block{
		margin-bottom:30px;
	}
	.bottom-blocks .column{
		margin-bottom:30px;
	}
	.owl-nav div{
		display:none!important;
	}
	.block-heading h4{
		display:block;
		-webkit-border-radius:3px;
		border-radius:3px;
	}
	.block-heading .btn, .block-heading .toggle-view{
		display:none;
	}
	.agent > div > div >img{
		margin-bottom:30px;
	}
	.gallery-item .media-box img, .grid-item .media-box img{
		min-width:100%;
	}
	#featured-properties .overlay{
		line-height:auto!important;
	}
	.property-listing .property-featured-image, .agents-listing .agent-featured-image{
		margin-bottom:30px;
	}
	.register-form{
		margin-top:30px;
	}
	.right-sidebar{
		margin-top:40px;
	}
	.single-agent .img-thumbnail{
		margin-bottom:30px;
	}
	.action-button > span{
		display:none;
	}
	.pricing-column .features{
		margin-bottom:0;
	}
	.pricing-column.highlight {
		margin: 0;
	}
	.pricing-table > div:third-child .pricing-column-content, .pricing-table > div:nth-child(2n+1) h3 {
		border-right: 1px solid #eeeeee!important;
	}
	.pricing-column ul li:first-child {
		border-top: 1px solid #eeeeee;
	}
	.pricing-column ul li:nth-child(2n+1) {
		background-color: #f8f8f8;
	}
	.toggle .pricing-column h3 {
		font-size: 26px!important;
	}
	.pricing-column.highlight .btn{
		margin-bottom:0;
	}
	.pricing-table.six-cols > div {
		width: 50%;
	}
	.pricing-table.five-cols > div {
		width: 50%;
	}
	.pricing-table.four-cols > div {
		width: 50%;
	}
	.pricing-table.three-cols > div {
		width: 50%;
	}
	.pricing-table.two-cols > div {
		width: 50%;
	}
	.grid-content .meta-data > span{
		padding:5px 0;
		border-left:0;
	}
	ul.timeline:before {
		right: 40px;
	}
	ul.timeline > li > .timeline-panel {
		width: calc(100% - 90px);
		width: -moz-calc(100% - 90px);
		width: -webkit-calc(100% - 90px);
	}
	ul.timeline > li > .timeline-badge {
		right: 15px;
		margin-right: 0;
		top: 16px;
	}
	ul.timeline > li > .timeline-panel {
		float: left;
	}
	ul.timeline > li > .timeline-panel:before {
		border-right-width: 0;
		border-left-width: 15px;
		right: -15px;
		left: auto;
	}
	ul.timeline > li > .timeline-panel:after {
		border-right-width: 0;
		border-left-width: 14px;
		right: -14px;
		left: auto;
	}
	.img-thumbnail{
		width: 100%;
	}
	.post-comment-block .img-thumbnail{
		width: auto;
	}
	.sidebar{
		margin-top: 40px;
	}
	.agent img{
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	@-moz-document url-prefix() {
		.formBlock.select-s .select {
			background-position: 10.700000000000003% -1px!important;
		}
		.formBlock.select-m .select {
			background-position: 10.700000000000003% -1px!important;
		}
		.formBlock.select-w .select {
			background-position: 10.5% -1px!important;
		}
		.formBlock-sm.select-m .select {
			background-position: 11.200000000000003% -7px!important;
		}
	}
	/* Isotope */
	.isotope {
		overflow: visible !important;
		height: auto !important;
	}
	.isotope-item {
		position: static !important;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-o-transform: none !important;
		transform: none !important;
	}
	.isotope-hidden {
		display: none !important;
	}
	.grid-item{
		margin-bottom: 6%;
	}
	.grid-holder.col-2 .grid-item{
		width:95%;
	}
	.grid-holder.col-3 .grid-item{
		width:95%;
	}
	.grid-holder.col-4 .grid-item{
		width:95%;
	}
	.pricing-table.six-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.five-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.four-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.three-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.two-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.grid-content .meta-data > span{
		padding:10px 20px;
		border-left:1px solid #efefef;
	}
	.page-header h1{
		font-size:26px;
	}
	.hero-agent{
		display:none;
	}
	.flex-caption{
		margin-left:-110px;
	}
	.flex-caption .fa-caret-down{
		display:none;
	}
	.property-listing > ul > li, .agents-listing > ul > li{
		padding:0;
	}
	.property-listing > ul > li > div, .agents-listing > ul > li > div{
		padding-right:0;
		padding-left:0;
	}
	.property-listing > ul > li .property-info, .agents-listing > ul > li .agent-info, .agents-listing > ul > li .agent-contacts{
		padding-right:15px;
		padding-left:15px;
	}
	.agents-listing > ul > li .agent-contacts{
		padding-bottom:15px;
	}
	#gmap{
		height:200px;
	}
	.site-footer-bottom{
		text-align:center;
	}
	.site-footer-bottom .social-icons{
		margin-top:30px;
		text-align:center;
	}
	.site-footer-bottom .copyrights-col-left p{
		text-align:center;
	}
	.site-footer-bottom .social-icons a{
		margin:0 4px;
	}
	.right-sidebar{
		float:right;
		width:100%;
	}
	.submit-description{
		margin-top:20px;
	}
	.submit-property-type, .submit-contract-type, .submit-image{
		margin-bottom:20px;
	}
	.submit-image:last-child{
		margin-bottom:0;
	}
	.post .img-thumbnail{
		margin-bottom: 10px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

}
h1.logo{
	line-height: 1.3 !important;
}
.property-featured-image, .agent-featured-image {
	display: block;
	position: relative;
	height: 135px !important;
	overflow: hidden  !important;
}
.min-desc{
	color:#999a9b;
	height: 40px;
	text-overflow: ellipsis;
	white-space: normal;
	overflow: hidden;
	text-align: justify;
	display: -webkit-box;
	max-width: 90%;

	margin: 0 auto;
	font-size:15px;
	line-height: 1.3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;


}